@import "preset";
@import "mixins";
//@import "cloud_main/main_header";

@import "header";




section{
  top: 80px;
  padding-bottom: 25px;
    background-color: $back-blue;
}


@import "cloud_main/main_aside";
@import "trainerdetails/details_main";
